.dee-chrome-extension-panel {
	background: #ffffff;
    box-shadow: 0px 0px 10px #002761;
    border-radius: 3px;
	color: black;
	font-size: 18px;
	
}
.dee-chrome-extension-panel a{
	color: black;
    text-decoration: none;
	font-size: 16px;
}

.dee-chrome-extension-panel h1{
	color: black;
    text-decoration: none;
	font-size: 20px;
}